@import "tailwindcss";

:root {
  --bg: #020617;
  --bg2: #071426;
  --card: rgba(255, 255, 255, 0.05);

  --primary: #3b82f6;
  --secondary: #8b5cf6;

  --text: #ffffff;
  --muted: #94a3b8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(
      circle at top,
      #102049,
      #020617
    );

  color: white;

  min-height: 100vh;

  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.container-custom {
  max-width: 1400px;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.stars {
  position: fixed;
  inset: 0;

  background-image:
    radial-gradient(
      white 1px,
      transparent 1px
    );

  background-size: 50px 50px;

  opacity: 0.08;

  z-index: -1;
}

/* Glassmorphism */

.glass-card {
  background:
    rgba(255,255,255,0.05);

  backdrop-filter: blur(20px);

  border:
    1px solid rgba(255,255,255,0.1);

  border-radius: 24px;
}

.glass-nav {
  margin-top: 18px;

  padding: 18px 24px;

  background:
    rgba(255,255,255,0.04);

  border:
    1px solid rgba(255,255,255,0.1);

  border-radius: 24px;

  backdrop-filter: blur(20px);

  display: flex;

  align-items: center;

  justify-content: space-between;
}

.logo-box {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background:
    linear-gradient(
      135deg,
      #3b82f6,
      #8b5cf6
    );
}

.search-box {
  width: 260px;

  height: 42px;

  display: flex;

  align-items: center;

  gap: 10px;

  padding: 0 12px;

  border-radius: 999px;

  background:
    rgba(255,255,255,0.05);

  border:
    1px solid rgba(255,255,255,0.08);
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
}

.icon-btn {
  width: 42px;
  height: 42px;

  border-radius: 50%;

  border:
    1px solid rgba(255,255,255,0.1);

  background:
    rgba(255,255,255,0.05);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.avatar {
  width: 42px;
  height: 42px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background:
    linear-gradient(
      135deg,
      #3b82f6,
      #8b5cf6
    );
}

.gradient-text {
  background:
    linear-gradient(
      to right,
      #60a5fa,
      #8b5cf6
    );

  -webkit-background-clip: text;

  color: transparent;
}

.primary-btn {
  padding: 14px 24px;

  border-radius: 14px;

  background:
    linear-gradient(
      135deg,
      #3b82f6,
      #8b5cf6
    );

  color: white;

  font-weight: 600;

  transition: 0.3s;
}

.primary-btn:hover {
  transform: translateY(-2px);
}

.secondary-btn {
  padding: 14px 24px;

  border-radius: 14px;

  border:
    1px solid rgba(255,255,255,0.15);

  background:
    rgba(255,255,255,0.03);
}